<html>
<head></head>

<body>

<table>
    <tr><th>From</th><th>To</th><th>Time</th><th>Capacity</th>
    {% for item in page_obj %}
    <tr><td>{{ item.country_code_from }}</td><td>{{ item.country_code_to }}</td><td>{{ item.timestamp }}</td><td>{{ item.capacity }}</td></tr>
    {% endfor %}
    <tr><td colspan="4">

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

    </td></tr>
</table>


</body>
</html>
